
@{
    ViewBag.Title = "AboutLanguage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model string
@Html.Partial("~/Views/Partial/Header.cshtml")
@Html.Partial("~/Views/Partial/Navbar.cshtml")
<div class="container body-content" id="mainContent" style="position:relative;display:none">
    @Html.Partial("~/Views/Partial/Modal.cshtml")
    <div id="mainRight">
        <div class="jumbotron">
            <h1 class="text-center">About Language</h1>
            <hr />
            <p class="lead">Description of Page something here.</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>English to Telugu</h2>
                <ul>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn">Beginner</button>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn">Intermediate</button>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn">Expert</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Partial/Footer.cshtml")
</div>
@Html.Partial("~/Views/Partial/Scripts.cshtml")
<script src="~/Scripts/Site.js"></script>
<script>
    var jsonData = @(new  HtmlString(Model));
    onPage(jsonData, false);
</script>
