@{
    ViewBag.Title = "Home Page";
}
@model KeyValuePair<string, UserDetails>
@Html.Partial("~/Views/Partial/Header.cshtml",Model.Value)
@*@Html.Partial("~/Views/Partial/ContentShower.cshtml")*@
@Html.Partial("~/Views/Partial/NavbarTeacher.cshtml")
@Html.Partial("~/Views/Partial/ToolBoxWindow.cshtml")
<div class="container body-content" id="mainContent" style="position:relative;display:none">
    @Html.Partial("~/Views/Partial/Modal.cshtml")
    @Html.Partial("~/Views/Partial/Breadcrumb.cshtml")
    @Html.Partial("~/Views/Partial/ContentHolder.cshtml")
    @*<div id="mainRight">
            <div class="jumbotron">
                <h1 class="text-center">Language Learner</h1>
                <hr />
                <p class="lead">Description of Page something here.</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2>As Learner</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary addLanguage learner" data-toggle="modal" data-target="#addLanguageModal">Add New Language</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>As Teacher</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary addLanguage teacher" data-toggle="modal" data-target="#addLanguageModal">Add New Language</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <button class="btn btn-link m-0 p-1" data-toggle="modal" data-target="#activityModal">
                        <h5 class="m-0">Your Activities</h5>
                    </button>
                </div>
            </div>

        </div>*@
    @Html.Partial("~/Views/Partial/GoToTop.cshtml")
    @Html.Partial("~/Views/Partial/Footer.cshtml")
</div>

@Html.Partial("~/Views/Partial/Scripts.cshtml")
<script src="~/Scripts/Site.js"></script>
<script>
            var jsonData = @(new  HtmlString(Model.Key));
            onPage(jsonData, true);
</script>
