
@{
    ViewBag.Title = "SampleTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model string
@Html.Partial("~/Views/Partial/Header.cshtml")
@Html.Partial("~/Views/Partial/ToolBoxWindow.cshtml")
@Html.Partial("~/Views/Partial/NavbarRight.cshtml")
<div class="container body-content" id="mainContent" style="position:relative;display:none">
    @Html.Partial("~/Views/Partial/Modal.cshtml")
    @Html.Partial("~/Views/Partial/Breadcrumb.cshtml")
    @Html.Partial("~/Views/Partial/ContentHolder.cshtml")
    @Html.Partial("~/Views/Partial/Footer.cshtml")
</div>
@Html.Partial("~/Views/Partial/Scripts.cshtml")
<script src="~/Scripts/Site.js"></script>
<script>
    var jsonData = @(new  HtmlString(Model));
    onPage(jsonData, false);
</script>